@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap");
body {
  background: #222;
  color: #fff;
}

/* y축(세로) 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track:vertical {
  background: -webkit-linear-gradient(180deg, #fff, #fff, #fff, rgba(34, 83, 34, 0.7411764706), rgba(34, 83, 34, 0.7411764706), rgba(34, 83, 34, 0.7411764706), #fff, #fff, #fff);
}

::-webkit-scrollbar-thumb {
  background: rgba(209, 148, 16, 0.6);
  border-radius: 30px;
}

::-webkit-scrollbar-button:vertical:single-button:start {
  border-bottom: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-top: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}

::-webkit-scrollbar-button:vertical:single-button:end {
  border-bottom: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-top: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}

#main {
  width: 100%;
  height: 100%;
}

#section1 {
  width: 100%;
  height: 100%;
}
#section1 > div {
  position: relative;
  width: 100%;
  height: 100%;
}
#section1 > div .m-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
#section1 > div .m-video #mainVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(100%);
  transition: filter 0.5s ease;
}
#section1 > div .m-video #mainVideo.dark-video {
  filter: brightness(50%);
}
#section1 .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 46px;
  transform: translateX(-50%);
  z-index: 5;
}
#section1 .scroll-down li {
  transform: rotate(90deg);
  font-family: " ";
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
#section1 .scroll-down li::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}
#section1 .scroll-down li::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 50px;
  height: 4px;
  background: #ffffff;
  animation: scroll-down infinite alternate linear;
  animation-duration: 1s;
}
@keyframes scroll-down {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}
#section1 .scroll-down li p {
  padding-bottom: 5px;
}

#section2 {
  width: 100%;
  height: 200%;
  background: url(../img/section2_back.jpg);
  background-size: cover;
}
#section2 #header {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 3;
}
#section2 #header > .container {
  width: 100%;
  max-width: 1200px;
  margin: 2% auto;
}
#section2 #header > .container .header-logoNav {
  width: 100%;
  z-index: 6;
  top: 3%;
  left: 0%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section2 #header > .container .header-logoNav h1 a img { /* 로고이미지 */
  filter: invert(1%);
}
#section2 #header > .container .header-logoNav nav span {
  display: inline-block;
  margin-left: 20px;
}
#section2 #header > .container .header-logoNav nav span a {
  color: #fff;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}
#section2 #header > .container .header-logoNav nav span a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
#section2 #header > .container .videobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
#section2 #header > .container .videobox .type {
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
}
#section2 #header > .container .videobox .typed-cursor {
  display: none;
}
#section2 #header > .container .textbox {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 1;
}
#section2 #header > .container .textbox p {
  font-size: 140px;
  font-style: italic;
  font-weight: 1500;
  letter-spacing: -17px;
  opacity: 0.6;
  color: rgba(34, 83, 34, 0.7411764706);
  color: transparent;
  animation: colorFade 5s forwards;
  animation-play-state: paused;
}
@keyframes colorFade {
  from {
    color: rgba(34, 83, 34, 0.7411764706);
  }
  to {
    color: white;
  }
}
#section2 #header > .container .textbox p:hover {
  animation-play-state: running;
}
#section2 #header > .container .textbox2 {
  top: 105%;
  left: 45%;
}
#section2 #header > .container #introduce {
  display: flex;
  justify-content: space-around;
}
#section2 #header > .container #introduce div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 500px;
  padding: 2%;
  box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 15px;
  position: relative;
}
#section2 #header > .container #introduce div h3 {
  font-size: 30px;
}
#section2 #header > .container #introduce div i {
  font-size: 30px;
  margin: 55px 0;
}
#section2 #header > .container #introduce div video {
  position: absolute;
  z-index: -1;
  width: 336px;
  height: 500px;
  filter: brightness(0.6);
  display: none;
  transition: 1s;
}
#section2 #header > .container #introduce div video.active {
  display: block;
}/*# sourceMappingURL=style.css.map */