@charset "utf-8";
// 폰트 IBM Plex Sans KR // font-family: 'IBM Plex Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');

// 컬러 팔레트
$bg-color:#222;
$white-color : #fff;
$bio-green : #225322bd ;


body{background: $bg-color; color: $white-color;}


/* y축(세로) 스크롤바 커스텀 */
// 두께
::-webkit-scrollbar{width: 10px;}
// 스크롤바 전체 범위
::-webkit-scrollbar-track:vertical {
  background: -webkit-linear-gradient(180deg, #fff, #fff,  #fff, $bio-green, $bio-green, $bio-green,  #fff, #fff, #fff);
}
// 현재 스크롤바 범위
::-webkit-scrollbar-thumb {
  background: rgba(209, 148, 16, 0.6);
  border-radius: 30px;
}
// 상단 버튼
::-webkit-scrollbar-button:vertical:single-button:start {
    border-bottom: 50px solid $bio-green;
    border-top: 50px solid $bio-green;
    border-right: 50px solid #222;
    border-left: 50px solid #222;
}
// 하단 버튼
::-webkit-scrollbar-button:vertical:single-button:end {
  border-bottom: 50px solid $bio-green;
  border-top: 50px solid $bio-green;
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}



// 헤더



#main{width: 100%; height: 100%}
// 섹션1
#section1{width: 100%; height: 100%;
    >div{position: relative; width: 100%; height: 100%;
        .m-video{position: relative; 
            width: 100%; height: 100vh; overflow: hidden; z-index: -1;
            #mainVideo{
                width: 100%; height: 100%; object-fit: cover;
                filter: brightness(100%);
                transition: filter 0.5s ease;
                 &.dark-video {
                    filter: brightness(50%); 
                  } 
            }
        }
    }
        .scroll-down{position: absolute; left: 50%; bottom: 46px; transform: translateX(-50%); z-index: 5; // 스크롤 다운 애니메이션
            li{transform: rotate(90deg); font-family: ' '; font-weight: 500;
                font-size: 12px; color: #fff;
                &::before{   content: ""; // 회색바
                    position: absolute; left: 0px; bottom: -2px;
                    width: 100px; height: 4px; background: rgba(255,255,255,0.3)}
                &::after{   content: ""; // 무빙바
                    position: absolute; left: 0px; bottom: -2px;
                    width: 50px; height: 4px; background: #ffffff;
                    animation: scroll-down infinite alternate linear; animation-duration: 1s;
                    @keyframes scroll-down {
                        from { transform: translateX(0px); }
                        to { transform: translateX(50px); }
                    }}
                p{padding-bottom: 5px;}
            }
        }
    }

// 섹션2
#section2{width: 100%; height: 200%; background: url(../img/section2_back.jpg); background-size: cover;
    #header{
        position: absolute; top:100%; left:0%;
        width: 100%; height: 100% ; background: rgba(255,255,255,0); z-index: 3;
        >.container{
            width: 100%; max-width: 1200px; margin: 2% auto;
            .header-logoNav{ 
                width: 100%; z-index: 6; top: 3%; left: 0%; position: sticky;
                display: flex; justify-content: space-between; align-items: center; 
                h1{ // 상단 로고부분
                    a{
                        img{/* 로고이미지 */filter:  invert(1%);}
                    }
                }
                nav{ // 상단 네비부분         
                   span{
                        display: inline-block; margin-left: 20px;
                        a{
                            color : $white-color;display: block; font-size: 18px;
                            border-bottom: 1px solid rgba(255,255,255,0); transition: .3s;
                            &:hover{border-bottom: 1px solid rgba(255,255,255,.6);}
                        }
                   } 
                }
            }
            .videobox{
                display: flex; flex-direction: column;
                justify-content: center; align-items: center; height: 1000px;
                // 타이핑js
                .type{height: 50px; margin-top: 10px; font-size: 16px;}
                .typed-cursor{display: none;}
            }
            .textbox{  // OUR PASSION
                font-family: 'IBM Plex Sans KR', sans-serif; font-size: 50px; font-weight: 600;
                position: absolute; top: 20%; left: 15% ;z-index: 1;
                p{
                    font-size: 140px; font-style: italic; font-weight: 1500; letter-spacing: -17px;
                    opacity: .6; color: $bio-green;
                    color: transparent; animation: colorFade 5s forwards; animation-play-state: paused; 
                    @keyframes colorFade {
                        from {color: $bio-green;}
                        to {color: white;}}
                    &:hover{
                        animation-play-state: running;
                    }

                }
            }
            .textbox2{ // WE ARE NVVIO
                top: 105%; left: 45%;
                p{
                    span{}
                }
            }
            #introduce{display: flex; justify-content: space-around; opacity: 0; transition: 2s;
                div{display: flex;  flex-direction: column; justify-content: center;
                    align-items: center; width: 28%; height: 500px; padding: 2%; box-sizing: border-box;
                    border: 1px solid $white-color; font-size: 15px; transition: 2s; position: relative;
                    h3{font-size: 30px;}
                    i{font-size: 30px; margin: 55px 0;}
                    video{position: absolute; z-index: -1; width: 336px; height: 500px; filter: brightness(.6); display: none; transition: 1s;
                        &.active{display: block}}
                }
            }
        }  
    }    
}




